.bold{
    font-weight: 550;
    font-size: 18px;
    text-transform: uppercase;
}

.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.resume .resume_left{
    width : 300px;
    background: #e95b42 ;

}

.resume .resume_left .resume_content
{
    padding: 0 25px;
}

.resume .resume_left .bold {
    color: #fff;
}
  
.resume .resume_left .Regular {
    color: whitesmoke;
}

.resume .resume_left ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    color: whitesmoke;
}


.resume .resume_right .resume_hobbies ul li
{
    font-size: 14px;
    position: relative;
    color: black;

}

.resume .resume_right {
    width: 500px;
    background: #fff;
    padding: 25px;
}
.resume .resume_right .bold {
    color: #e95b42;
}


